.footer__links {
  list-style: none;
  display: flex;
  flex-direction: row;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
}

@media screen  and (max-width: 767px) {
  .footer__links {
    flex-direction: column;
    margin-bottom: 48px;
  }
}